.App {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputForm {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 200px;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 50px;
}

.inputText {
  height: 20px;
  width: 250px;
}

.lastBody {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.treeHolder {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.numberListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.showButton {
  margin-left: 20px;
}

.treeBody {
  display: flex;
  flex-direction: row;
}

.jsonPanel {
  margin-left: 50px;
}

.homeBody {
  margin-left: 50px;
}