.App {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputForm {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-start;
  margin-left: 50px;
}

.inputText {
  height: 20px;
  width: 250px;
}

.treeBody {
  display: flex;
  flex-direction: row;
}


.tree-table {
  border-collapse: collapse;
  margin: 0 auto;
}

.node-box {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.children {
  vertical-align: top;
}

.invisible-node {
  width: 100%;
  height: 100%;
}