.App {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputForm {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-start;
  margin-left: 50px;
}

.inputText {
  height: 20px;
  width: 250px;
}
